@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Ubuntu:400,700&subset=cyrillic');
body {
	background-color: #ffffff;
	color: #9499a2;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875rem;
	font-weight: 300px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
}

.wrapper {
	margin: 0 auto ;/*центрируем блок с классом wrapper*/
	overflow: hidden; /*Отображается только область внутри элемента, остальное будет скрыто.*/
	width: 1500px;/*ширина блока wrapper*/
}

.header {
	margin-top: 0;
	position:fixed;/*фиксируем блок с классом header*/
	width: 1500px;/*ширина шапки*/
	height: 90px;/*высота шапки*/
}

.menu {

	overflow: hidden;
	width: 1500px;/*ширина панели меню*/
	height: 90px;/*высота панели меню*/
	margin-top: 15px;/*отступ сверху*/
	margin-left: 0; /*отступ слева*/
	
}

.menu ul li {
	list-style:none;/*убираем маркеры*/
	float:left;/*выравнивание по левому краю*/

}
.menu ul li a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem; /*16px*/
	color: #79818d; 
	text-decoration:none;/*убираем подчёркивание*/
}
.menu ul li a:hover {
	text-decoration:none;/*убираем подчёркивание*/
}
.howitworks {
	margin: 0 30px 0 585px;/* top right bottom left*/
}

.about {
	margin-right: 70px;
}
.contact {
	margin-right: 40px;
}
.blog {
	margin-right: 0;
}

#logo {
	font-family: 'Nunito', sans-serif;
	font-size: 37px;
	font-weight: bold;
	color: #333333;
	
}
#APP {
	color: #65a9d9;
}
img.logot {
	padding-top: 0;
	padding-left: 0;
}
.rectangle {
	margin-top: 88px;
	position:absolute;/*фиксируем блок с классом rectangle*/
	width: 1500px;/*ширина прямоугольника*/
	height: 840px;/*высота прямоугольника*/
	background-color: #66abda;
}
#HandWithIphone {
	height: 1000px;
	width: 642px;
	margin-left: 865px;
	margin-top: 90px;
}
#Clouds {
	height: 608px;
	width: 1300px;
	margin-left: 120px;
	margin-top: 127px;
	position: absolute;
}
.BannerLeft {
	margin-left: 161px;
	margin-top: 239px;
	width: 574px;
	height: 345px;
	position: absolute;
}
.BannerLeft span {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	margin: 0;
	line-height: 4.5rem;
	font-size: 3.25rem;
}
#substring {
	font-weight: lighter;
	font-size: 1.5rem;
	line-height: 0;
}
#sub {
	margin-top: 40px;
}
