@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Ubuntu:400,700&subset=cyrillic');
body {
	background-color: #ffffff;
	color: #9499a2;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300px;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
}

.wrapper {
	margin: 0 auto ;/*центрируем блок с классом wrapper*/
	overflow: hidden;
	width: 1500px;/*ширина блока wrapper*/
}

.header {
	margin-top: 0;
	position:fixed;/*фиксируем блок с классом header*/
	width: 1500px;/*ширина шапки*/
	height: 90px;/*высота шапки*/
}

.menu {

	overflow: hidden;
	width: 1500px;/*ширина панели меню*/
	height: 90px;/*высота панели меню*/
	margin-top: 0;/*отступ сверху*/
	margin-left: 0; /*отступ слева*/
	
}

.menu ul li {
	list-style:none;/*убираем маркеры*/
	float:left;/*выравнивание по левому краю*/

}
.menu ul li a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #79818d; 
	text-decoration:none;/*убираем подчёркивание*/
}
.menu ul li a:hover {
	text-decoration:none;/*убираем подчёркивание*/
}
.howitworks {
	padding: 0 30px 0 585px;/* top right bottom left*/
}

.about {
	padding-right: 70px;
}
.contact {
	padding-right: 40px;
}
.blog {
	padding-right: 0;
}

#logo {
	font-family: 'Nunito', sans-serif;
	font-size: 37px;
	font-weight: bold;
	color: #333333;
	
}
#APP {
	color: #65a9d9;
}
img.logot {
	padding-top: 0;
	padding-left: 0;
}
.rectangle {
	margin-top: 88px;
	position:fixed;/*фиксируем блок с классом rectangle*/
	width: 1500px;/*ширина прямоугольника*/
	height: 840px;/*высота прямоугольника*/
	background-color: #66abda;
}